.horizontal-banner1{
    width: 100%;
    margin-top: 20px;
    line-height: 15px;
    text-align: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
}
.horizontal-banner1 .horizontal-banner__item1 {
    width: 99.5%;
    height: 180px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 5px;
    overflow: hidden;
}
.horizontal-banner1 .horizontal-banner__item1 .logo {
    height: 100%;
    min-height: 70px;
    display: inline-block; /* Đảm bảo hình ảnh hiển thị như một inline-block element để text-align hoạt động */
    margin: 0;
}
.menu_danhmucdienthoai{
    display: none;
}
@media (max-width: 768px) {
    .menu_danhmucdienthoai{
        display: block;
    }
}