.container_menu {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    margin-left: 10px;
 }
 
.post_menu {
    width: 200px;
    height: 375px;
    margin-right: 14px;
    display: block;
    border-radius: 15px;
    /* overflow: auto; */
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    /*  */
}
.center_menu{
    /* width: calc(100% - 470px); */
    width: 715px;
    margin-right: 14px;
    height: 375px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.sidebar_menu {
    width: 240px;
    height: 375px;
    border-radius: 10px;
}
.content-sanphamnoibat-text{
    margin-top: 15px;
    justify-content: center;
    font-weight: 900;
    align-items: center;
    text-align: center;
    margin-left: 18px;
    font-size: 25px;
}
/* 
@media (max-width: 975px) {
    .center_menu{
        width: 715px;
    }
}
@media (max-width: 974px) {
    .center_menu{
        width: 714px;
    }
}
@media (max-width: 973px) {
    .center_menu{
        width: 713px;
    }
}
@media (max-width: 972px) {
    .center_menu{
        width: 712px;
    }
}
@media (max-width: 971px) {
    .center_menu{
        width: 711px;
    }
}
@media (max-width: 970px) {
    .center_menu{
        width: 710px;
    }
} */