.container_menu {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    margin-left: 4px;
 }
 
.post_menu {
    width: 200px;
    height: 375px;
    margin-right: 8px;
    display: block;
    border-radius: 15px;
    /* overflow: auto; */
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    /*  */
}
.center_menu{
    /* width: calc(100% - 470px); */
    width: 715px;
    margin-right: 10px;
    height: 375px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.sidebar_menu {
    width: 240px;
    height: 375px;
    border-radius: 10px;
}
.content-sanphamnoibat-text{
    margin-top: 15px;
    justify-content: center;
    font-weight: 900;
    align-items: center;
    text-align: center;
    margin-left: 18px;
    font-size: 25px;
}
@media (max-width: 1071px) {
    .post_menu {
        width: 195px;
    }
}
@media (max-width: 1026px) {
    .post_menu {
        width: 190px;
    }
}