.loading-themnhapkho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: #e3e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-size: 1.5rem;
    overflow-y: auto;
    box-sizing: border-box;
}

.loading-themnhapkhos {
    width: 70%;
    height: 100%;
    margin-left: 50px;
    background: #e3e8e8;
    border-radius: 0px;
}

.textnhapkho{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    color: #000000;
}

.success-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 100000;
}

.loading-overlay-nhapkho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9fa2a1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    font-size: 1.5rem;
}