.loading-uudaixephang {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: #e3e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-size: 1.5rem;
    overflow-y: auto;
    box-sizing: border-box;
}

.loading-uudaixephangs {
    width: 70%;
    height: 100%;
    margin-left: 50px;
    background: #e3e8e8;
    border-radius: 0px;
}


.loading-hienthiuudaixephangid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: #e3e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-size: 1.5rem;
    overflow-y: auto;
    box-sizing: border-box;
}

.loading-hienthiuudaixephangids {
    width: 80%;
    height: 100%;
    margin-left: 50px;
    background: #e3e8e8;
    border-radius: 0px;
}