@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content {
  display: flex;
  justify-content: space-between; /* căn cách ra 2 bên */
  align-items: center; /* căn giữa theo chiều dọc */
  width: 100%;
  margin: 0 auto;
  padding-top: 10em;
  box-sizing: border-box;
  height: auto;
}

#page_loader #left{    
  position: fixed;                     
  top: 120px;
  left: calc(50% - 920px);
  right: unset;
  margin: 0 auto;
  animation: shakeBannerLeft 7s ease-in-out infinite;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: shakeBannerLeft;
}
@keyframes shakeBannerLeft {
  33% {
      transform: rotate(4deg);
  }
  60% {
      transform: rotate(-4deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

#center-admin{
  background-color: rgb(255, 255, 255);
  bottom: 50px;
  width: 100%;
  border-radius: 3px;
}

#center {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: auto;
  bottom: 50px;
  margin: 0 auto;
  margin: 10px;
  width: 1180px;
  margin-top: -35px;
  border-radius: 3px;
  position: relative; 
}

#page_loader #right {
  position: fixed;
  top: 120px;
  left: unset;
  margin: 0 auto;
  right: calc(50% - 920px);
  animation: shakeBannerLeft 7s ease-in-out infinite;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: shakeBannerLeft;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  /* margin: 0px;
  padding: 0px; */ /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  padding-left: unset!important;
  height: auto;
  width: 100%;
  background: #f1f1f1;
}
.Home{
  background: #ff0000;
}

@keyframes shakeBannerLeft {
  33% {
      transform: rotate(2deg);
  }
  60% {
      transform: rotate(-2deg);
  }
  100% {
      transform: rotate(0deg);
  }
}
a{
  text-decoration: none;
  display: inline-block;
}
@media (min-width: 2801px) and (max-width: 5000px) {
  .content #center{
    width: 1180px;
  }
  #page_loader #left{
    margin: 0 auto;
    left: calc(50% - 740px);
  }
  #page_loader #right{
    margin: 0 auto;
    right: calc(50% - 740px);
  }
}

@media (min-width: 1750px) and (max-width: 2800px) {
  .content #center{
    width: 1180px;
  }
  #page_loader #left{
    margin: 0 auto;
    left: calc(50% - 740px);
  }
  #page_loader #right{
    margin: 0 auto;
    right: calc(50% - 740px);
  }
}

@media (min-width: 1500px) and (max-width: 1750px) {
  body{
    width: 100%;
  }
  .content #center{
    width: 1180px;
  }
  #page_loader #left{
    margin: 0 auto;
    left: calc(50% - 740px);
  }
  #page_loader #right{
    margin: 0 auto;
    right: calc(50% - 740px);
  }
}

@media (min-width: 1350px) and (max-width: 1500px) {
  body{
    width: 100%;
  }
  .content #center{
    width: 1180px;
  }
  #page_loader #left{
    margin: 0 auto;
    left: calc(50% - 740px);
  }
  #page_loader #right{
    margin: 0 auto;
    right: calc(50% - 740px);
  }
}

@media (min-width: 1250px) and (max-width: 1350px) {
  body{
    width: 100%;
  }
  .content #center{
    width: 1180px;
  }
  #page_loader #left{
    position: fixed;
    margin: 0 auto;
    left: calc(50% - 737px);
  }
  #page_loader #right{
    margin: 0 auto;
    right: calc(50% - 737px);
  }
}

@media (min-width: 1210px) and (max-width: 1250px) {
  body{
    width: 100%;
  }
  .content #center{
    width: 1180px;
  }
  #page_loader #left{
    margin: 0 auto;
    left: calc(50% - 740px);
  }
  #page_loader #right{
    margin: 0 auto;
    right: calc(50% - 740px);
  }
}

@media (max-width: 1209px) {
  body{
    width: 100%;
  }
  .content #center{
    width: 1180px;
  }
  #page_loader #left{
    margin: 0 auto;
    left: calc(50% - 747px);
  }
  #page_loader #right{
    margin: 0 auto;
    right: calc(50% - 747px);
  }
}

