.Canter_sanpham_css .Canter_sanpham_css_label .slick-list .slick-track .slick-slide.slick-active.slick-center.slick-current {
    font-weight: 400;
    border: 2.5px solid #ff0505;
    border-radius: 9px;
    color: #000000;
}

.Canter_sanpham_css .Canter_sanpham_css_label .slick-list .slick-track .slick-slide.slick-activess.slick-center {
    font-size: 12px;
    font-weight: 400;
    border: 2.5px solid #ff0000;
    color: #0b0505;
}

.Canter_sanpham_css .Canter_sanpham_css_label .slick-list .slick-track {
    display: flex; /* Đặt các slide thành hàng ngang */
    flex-wrap: nowrap; /* Ngăn các slide xuống hàng */
    overflow-x: auto; /* Hiển thị thanh cuộn ngang nếu cần */
    overflow-y: hidden;
}
.Canter_sanpham_css .Canter_sanpham_css_label .slick-slide {
    flex: 0 0 auto; /* Đảm bảo mỗi slide có kích thước cố định và không tự động thay đổi kích thước */
    margin: 5px;
  }
.Canter_sanpham_css .Canter_sanpham_css_label .slick-list .slick-track .slick-slide{
    max-width: 50px;
    min-height: 50px;
    margin: 4px;
    margin-top: 25px;
}
.Canter_sanpham_css .Canter_sanpham_css_label .slick-list .slick-track .slick-slide.slick-activess {
    font-size: 12px;
    font-weight: 400;
    border-bottom: 2.5px solid #ff0000;
    color: #181010;
}
.Canter_sanpham_css_label .custom-indicator{
    width: 100px;
}
.Canter_sanpham_css {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.Canter_sanpham_css .Canter_menu_css_img {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 405px;
    border-radius: 0px 0px 0 0;
}

.Canter_sanpham_css .Canter_menu_css_img .img {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 415px;
    border-radius: 5px 5px 0 0;
}


.Canter_sanpham_css .Canter_sanpham_css_label {
    margin-left: 1px;
    margin-right: 1px;
    width: 100%;
}

.Canter_sanpham_css .Canter_sanpham_css_label .label_css {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 0;
    color: #000;
    height: 46px;
    font-weight: 300;
}

.Canter_sanpham_css .Canter_sanpham_css_label .label_css img {
    height: 52px;
    background: #000000;
    border-radius: 9px;
}

/* .Canter_sanpham_css .Canter_sanpham_css_label .label_css:hover {
    background: #e1dfdf;
    height: 46px;
    font-weight: 500;
    border-radius: 0 0 5px 5px;
} */

.slick-slide.slick-active.slick-center .label_css {
    font-weight: 500;
}

.right-banner .right-banner__item {
    height: 375px;
    width: 100%;
    border-radius: 10px;
}

.right-banner .right-banner__item .right-banner__img {
    float: left;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}